.main {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
}

.sidebar {
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	min-width: 0;
	display: flex;
	overflow: scroll;
}

.info {
	max-width: fit-content;
}

.image {
	max-width: 12em;
	max-height: 12em;
}

.settings_form {
	min-width: 15em;
}

.settings_input {
	width: 2em;
}

.settings_select {
	width: 100%;
}

.card {
	min-width: 6em;
	text-align: center;
}

.target {
	width: 1em;
	height: 1em;
	background-color: grey !important;
}

.selectedCard {
	background-color: grey !important;
}

.correct {
	background-color: lightblue !important;
}

.incorrect {
	background-color: lightpink !important;
}

.wrongTarget {
	box-shadow: 0 0 10px 5px red;
}
