.main > button {
  color: initial;
  font-family: "Courier New", Courier, monospace;
}

.main > button:enabled {
  cursor: pointer;
}

.main > button:disabled {
  font-style: italic;
  background-color: rgba(0, 0, 0, 0.01);
}
