.main {
	display: flex;
	flex-direction: row-reverse;
	height: 100%;
	width: 100%;
	position: absolute;
}

.sidebar {
	display: flex;
	flex-direction: column;
}

.content {
	flex-grow: 1;
	min-width: 0;
	display: flex;
	overflow: scroll;
}
