.main {
	display: flex;
	height: 100%;
	width: 100%;
	position: absolute;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 400px;
}

.content {
	flex-grow: 1;
	min-width: 0;
	display: flex;
	overflow: scroll;
}

.structure_first_row {
	margin-top: initial !important;
}

.structure_row {
	display: flex;
	margin-top: -2em;
}

.structure_card {
	text-align: center;
	width: 10em;
	height: 10em;
}

.military {
}
