.bird {
  width: 15em;
}

.bonus {
  width: 15em;
}

.playerButtons {
  display: inline-flex;
  flex-direction: column;
}

.previewImg {
  width: 15em;
}

.habitat {
  width: 5em;
}

.habitatGain {
  text-align: center;
}
