.bird {
  width: 18em;
  white-space: initial;
}

.bonus {
  width: 15em;
}

.playerButtons {
  display: inline-flex;
  flex-direction: column;
}

.previewImg {
  width: 100%;
}

.habitatName {
  width: 7em;
}

.habitatWords {
  text-align: center;
}

.habitatRow {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 0;
  align-items: center;
}
