.imgs {
  position: absolute;
}

.img {
  width: 1440px;
}

.slotWrapper {
  position: absolute;
  z-index: 1;
}

.slot {
  opacity: 45%;
  width: 100%;
  height: 100%;
  position: absolute;
}

.selectedSlot {
  background-color: black;
}

.slotCount {
  z-index: 1;
  position: absolute;
  bottom: 0;
}
